.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left {
  width: 70%;
  background: rgb(43, 53, 59);
  background: linear-gradient(
    180deg,
    rgba(43, 53, 59, 1) 0%,
    rgba(26, 34, 38, 1) 35%,
    rgba(11, 19, 23, 1) 100%
  );
}

.right {
  width: 30%;
  background: rgb(254, 225, 146);
  background: linear-gradient(
    180deg,
    rgba(254, 225, 146, 1) 0%,
    rgba(247, 176, 113, 1) 35%,
    rgba(222, 136, 107, 1) 100%
  );
}
